# Auto detect text files and perform LF normalization
#* text=auto

# Do not perform any LF normalization
# * -text

# Use LF for all text files
* text eol=lf

# Declare files that will always have CRLF line endings on checkout.
#*.asm  text eol=lf
#*.c    text eol=lf
#*.cpp  text eol=lf
#*.doc  text eol=lf
#*.h    text eol=lf
#*.htm  text eol=lf
#*.html text eol=lf
#*.inc  text eol=lf
#*.js   text eol=lf
#*.md   text eol=lf
#*.properties text eol=lf
#*.txt  text eol=lf
#*.xml  text eol=lf

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
